albumentations==1.1.0
einops==0.4.1
matplotlib==3.4.2
numpy==1.24.2
onnx==1.11.0
onnxsim==0.4.19
opencv_python_headless==4.5.5.64
pandas==1.5.1
Pillow==9.5.0
pycocotools==2.0.5
scikit_learn==1.2.2
scipy==1.8.1
thop==0.0.31.post2005241907
timm==0.6.7
torch==1.9.1+cu111
torchinfo==1.7.0
torchvision==0.12.0+cu113
tqdm==4.64.0
~umpy==1.22.4+mkl
