albumentations==1.1.0
einops==0.4.1
matplotlib==3.4.2
numpy==1.21.6
onnx==1.11.0
onnxsim==0.4.17
opencv_python_headless==4.5.5.64
pandas==1.3.5
Pillow==9.4.0
pycocotools==2.0.5
scikit_learn==1.0.2
scipy==1.7.3
thop==0.0.31.post2005241907
timm==0.6.7
torch==1.9.0
torchinfo==1.7.0
torchvision==0.10.0
tqdm==4.64.0